.abc{
    background-color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.xyz{
    background-color: rebeccapurple;
}
#sg{
    background-color: olive;
}
#gs{
    background-color: blueviolet;
}